/tehtava1/build/
/tehtava1/*.user
/tehtava2/
/tehtava3/build/
/tehtava3/*.user
/tehtava4/build/
/tehtava4/*.user
/tehtava5/build/
/tehtava5/*.user
/tehtava6/build/
/tehtava6/*.user
/tehtava8/build/
/tehtava8/*.user
/viikko5esitehtava/
/viikko7esim/
/viikko7tehtava1/build/
/viikko7tehtava1/*.user
/viikko7tehtava2/build/
/viikko7tehtava2/*.user
/viikkotehtava2/
/vk3esim1/
/vktehtava2/build/
/vktehtava2/*.user
/vktehtava2-alkuperainen/
/simulaatoriEsimerkki/build/
/simulaatoriEsimerkki/*.user
/tentti_testi/

